@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  background-color: black;
}
